/* MASTER CSS FILE */

body{
  background-color: #000;
}

/* #container-one{
  height: 20px;
  width: 40%;
  background-color: #007;
} */

#nav {
  padding: 4em 6em 1em 6em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  color: #54cae7;
  float: right;
  position: relative;
}

#footer-img{
  height: 10px;
  padding-top: 100px;
}

#footer-info{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: .80;
  color: #54cae7;
  align-content: left;
}
